{% extends "templates/web.html" %}

{% block style %}
<style>
 {% include "templates/includes/login/sign-up.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
<div style='min-height: 360px'>
    <noscript>
        <div class="text-center my-5">
            <h4>{{ _("Javascript is disabled on your browser") }}</h4>
            <p class="text-muted">{{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the instructions in the following link: {0}").format("<a href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
        </div>
    </noscript>
    <section class='for-signup'>
        <div class="flex-parent-element">
            <div calss="flex-child-element magenta">
                <img src="atmiya_setu.jpg" width="600" height="300">
            </div>
            
            <div class="flex-child-element green">
                <div class="login-content page-card" style="margin-top: 20px;">
                    <form class="form-signin form-signup hide" role="form">
                        <div class="page-card-head">
                            <span class="indicator blue" data-text="{{ _('Sign Up') }}"></span>
                        </div>
                        <input type="text" id="signup_firstname"
                                class="form-control" placeholder="{{ _('First Name') }}" required autofocus>
                        <input type="text" id="signup_lastname"
                                class="form-control" placeholder="{{ _('Last Name') }}" required autofocus>
                        <input type="email" id="signup_email"
                                class="form-control" placeholder="{{ _('Email Address') }}" required>
                        <input type="tel" id="mobile_no"
                                class="form-control" placeholder="{{ _('Mobile Number') }}" required maxlength="10">
                        <input type="password" id="password"
                                class="form-control" placeholder="{{ _('Enter password') }}" title="Include symbols, numbers and capital letters in the password" required>
                        <select id="role" class="form-control" placeholder="{{ _('Role') }}" required>
                            <option value="Satsangi">Satsangi</option>
                            <option value="Karyakarta">Karyakarta</option>
                        </select>
                        <button class="btn btn-sm btn-primary btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>
                    </form>
                </div>
            </div>
        </div>
        
    </section>
</div>

<style>
    .flex-parent-element {
    display: flex;
    width: 100%;
    }

    .flex-child-element {
    flex: 1;
    margin: 10px;
    }

</style>

{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/sign-up.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
